<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rede Krill</title>
</head>

<body>
    <h1>Sem Saldo</h1>
    <div id="app">
        <form v-on:submit.prevent="addItem">
            <p>Adicionar itens sem saldo</p>
            <p>Nome do funcionario: <input type="text" required v-model="nome"></p>
            <p>Descricao do produto: <input type="text" required v-model="ItemDesc"></p>
            <p>Gtin do produto: <input type="number" required v-model="ItemGtin"></p>
            <p>Endereco do produto: <input type="text" required v-model="ItemEndereco"></p>
        <button type="submit">Adicionar item</button>
        </form>
        <div>
            <p>Produtos sem saldo</p>
            <ul>
                <li v-for="item in SemSaldo">{{item.Name}},{{item.Descricao}},{{item.Gtin}},{{item.Endereco}}</li>
            </ul>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    nome: null,
                    ItemDesc: null,
                    ItemGtin: null,
                    ItemEndereco: null,
                    SemSaldo: []
                }
            },
            methods: {
                addItem() {
                    let item = {
                        Name: this.nome,
                        Descricao: this.ItemDesc,
                        Gtin: this.ItemGtin,
                        Endereco: this.ItemEndereco
                    }
                    this.SemSaldo.push(item)
                    this.nome = null
                    this.ItemDesc = null
                    this.ItemGtin = null
                    this.ItemEndereco = null
                }
            }
        })
        app.mount('#app')
    </script>
</body>

</html>